Package: piratebox
Version: 1-1
Depends: kmod-usb2, kmod-usb-storage, kmod-fs-vfat, kmod-nls-cp437, kmod-nls-cp850, kmod-nls-iso8859-1, kmod-nls-iso8859-15, kmod-fs-ext3, kmod-loop, block-mount
Provides: 
Source: package/piratebox
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Christiane Ruetten <cr@23bit.net>
Architecture: all
Installed-Size: 32768
Description: Turns OpenWRT into a PirateBox, see http://wiki.daviddarts.com/PirateBox

